@import "tailwindcss";

@layer base {
  html,
  body {
    background-color: #0a0a0c;
    color: white;
    overscroll-behavior-y: none;
    margin: 0;
    padding: 0;
  }

  * {
    box-sizing: border-box;
  }
}
